body{
  margin: 0;
  padding:0;
}
*{
  font-family: sans-serif;
  line-height: 1.15;
  color: grey;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1{
  text-align: center;
  color: rgba(41, 39, 39, 0.815);
  text-align: center;
  
}
.Heading2 {
  font-weight:bold;
  font-size: 200%;
}
.padding {
  padding-left: 20%;
  padding-right: 20%;
  line-height: 4vh; 
  text-align: center;
  margin-bottom:8vh;
}

.Heading{
  color:white;
  font-size:400% ;
  width: 100%;
  font-weight:bold;
}
.contactUsHeading 
{
  height: 90vh;
  width: 100vw;
  margin-bottom:0rem;
  padding-top: 45vh;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
  opacity:0.8;
}
.btn {
  background-color: rgba(10, 5, 5, 0.836);
  color: white;
  border: none;
  cursor:pointer;
  border-radius: 1.5em ;
  text-decoration: none;
  margin-top: 2%;
  width: 45%;
  transition: 0.2s ease-in-out;
}
.btn:hover{
  background-color:black;
  color: white;
  width: 46%;
  text-transform: uppercase;
}
.btn:focus {
  outline: none;
  text-decoration: none;
}
ul.demo {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.details{
  text-align: left;
  font-size:130%;
}

.jumbotronPadding1{
  padding: 10% 10%;
  height:75vh;
  margin-bottom:10vh;
}
.jumbotronPadding2 {
  padding: 0rem 0rem;
  height:75vh;
  margin-bottom:10vh;
  overflow-y: hidden;
}
.formPadding
{
  height:75vh;
  margin-bottom:10vh;
  overflow-y: hidden;
  
}
.Heading3{
  font-size: 150%;
  font-weight: 600;
  margin-top: 4%;
  font-family: Slate W01 Bold,Helvetica,Arial,sans-serif !important;
  color: rgb(8, 60, 77);
}
.box{
  text-align: center;
}
input[type=text],[type=email] {
  position: relative;
  width: 90%;
  padding: 2% 2%;
  margin: 1% 0%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1.5em ;
  box-sizing: border-box;
  transition: ease-in-out, width .35s ease-in-out;
}
.TextArea{
  width: 90%;
  padding: 2% 2%;
  margin: 1% 0%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1.5em ;
  box-sizing: border-box; 
  transition: ease-in-out, width .35s ease-in-out;
}
.TextArea[type=text]:focus {
  width: 100%;
}
input[type=text]:focus,input[type=email]:focus {
  width: 100%;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.padding2{
  margin-bottom: 8vh;
  padding-left:20%;
  
}
.padding3{
  margin-bottom: 8vh;
  padding-right:20%;
}

.Heading4{
  font-size: 150%;
  color:black;
  font-weight: 500;
}
.padding5{
    padding-top: 3%;
  background-color:rgb(236, 231, 231);
}
.Heading5{
  font-size: 100%;
  color:black;
  text-align: justify;
  margin-bottom:2vh;
  }
.bg{ 
  padding-top: 10%;
  background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
}
.colourWhite
{
  color: white;
  text-align: center;
}
ul{
  list-style:none;
}

a{
  text-decoration: none;
}
#SendMessage
{
  margin-bottom: 2.5%;
  margin-top: 4%;
}
header{
  position: sticky;
  top: 0px;
  background-color: white;
  width: 100vw;
  border-bottom:100px solid #fff;
  border-width:0.1vh ;
  padding-bottom: 0%;
  padding-top: 1%;
  z-index: 1 ;
 
}
.nav-links{
  flex: 2;
}
.nav-links > ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link{
  position: relative;
}
.nav-link > a{
  line-height: 3rem;
  color:grey;
  padding: 0 .8rem;
  letter-spacing: 1px;
  font-size: .95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}
.nav-link:hover > a{
  transform: scale(1.1);
  text-decoration: none;
  color:  #45a049;
}

@keyframes animation{
  from{
      opacity: 0;
      transform: translateY(15px);
  }
  to{
      opacity: 1;
      transform: translateY(0px);
  }
}

@media (max-width: 300px){
  .navbar-nav{
      flex: initial;
      width: 100%;
  }

  .nav-link{
      width: 100%;
      opacity: 0;
      transform: translateY(15px);
  }
  
}

#header{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
#who{
  margin-top:0;
  background-color: #F8FFF4;
}
#who .row h2{
  margin:auto;
  justify-content: center;
  text-align: center;
  color: #807171;
}
#who .row p{
  justify-content: center;
  text-align: center;
  color: black;
  padding: 1rem;
  line-height: 1.88rem;
  font-size: 20px;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}
#projects{
  color: white;
  line-height: 1.5rem;
}
h4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.row{
  padding-top: 0.5rem;
  padding: 2rem;
  text-align: center;
}

#why{  
  margin-bottom: 100px;
  background-color: #3A3F45;
  color: #807171;
}
#img-why h2{
  font-size: 900%;
}
#web-dev{
  background-color: #02111B;
}
#app-dev{
  background-color: #7A918D;
}
#ml{
  background-color: #BF211E;
}
h2{
  padding-top: 5px;
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
  color: white;
  margin-bottom: 0%;
}
.container{
  text-align: center;
}
p{
  text-align: center;
}
/* .DomainsHeading
{
  height: 80px;
  width: 100vw;
  margin-bottom:10vh;
  background-color:  #1a1a1a;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
  opacity:0.8;
  color: #19a4de;
} */
.DomainsHeading .Heading{
  color:#19a4de;
  font-size:400% ;
  width: 100%;
  font-weight:bold;
}
.container.domains{
  display: flex;
  margin-bottom:10vh;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}
.domains-card {
    width: 350px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}
.domains-card:hover{
 background: rgb(0,0,0,.3);
 color: white;
}
.domains-card:hover p{
  color: white;
 }
 .domains-card:hover h4 a{
  font-weight: 700;
 }
.domains-im {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}
.domains-im img {
    max-width: 100%;
    max-height: 100%;
}
.domains-details {
    padding: 30px;
}
.domains-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}
.domains-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
  font-weight: 500;
}
.flex-center {
  width: 100%;
  min-height: 50vh;
  margin-top: 20px;
  background: rgba(0,0,0,.8);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff;
}
.icon-3d:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}
@keyframes icon3d {
  0% {
    text-shadow: 5px 4px rgba(25,164,222, 1), -5px -6px rgba(255,99,71, 1);
 }
  25% {
    text-shadow: -5px -6px rgba(25,164,222, 1), 5px 4px rgba(255,99,71, 1);
 }
  50% {
    text-shadow: 5px -4px rgba(25,164,222, 1), -8px 4px rgba(255,99,71, 1);
 }
  75% {
    text-shadow: -8px -4px rgba(25,164,222, 1), -5px -4px rgba(255,99,71, 1);
 }
  100% {
    text-shadow: -5px 0 rgba(25,164,222, 1), 5px -4px rgba(255,99,71, 1);
 }
}

.proj-head h2{
  padding-top: 1.5rem;
}
.projects .row{
  display: flex;
  margin-bottom:10vh;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}
.row .card {
    width: 350px;
    position: relative;
    background-color: initial;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin: 50px auto;
}
.row .card:hover{
  background: rgb(0,0,0,.3);
  color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.row .card:hover p{
  color: white;
 }
 .row .card:hover h4 b{
  color: whitesmoke;
  
 }

.row .card.container{
    padding: 30px;
}
.row .card h4 b{
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.8s;
}
.row .card p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
    font-weight: 500;
}

#why li{
  display: block;
  padding: 1rem;
  font-family: sans-serif;
  line-height: 1.15;
  font-size: xx-large;
}
#why li:hover{
  color: white;
  cursor: pointer;
}

#why .row .card{
  width: 500px;
}